@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
}
.AllProducts_Container {
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  place-items: center;
}
.Btn_Back {
  display: flex;
  padding-top: 4rem;
  cursor: pointer;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 767px) {
  .AllProducts_Container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1023px) {
  .AllProducts_Container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
