@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
}
.BigCard {
  display: flex;
  place-content: center;
  width: 100%;
}
.BigCard_Container {
  width: 100%;
  height: auto;
  background-color: #efe0db;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  padding: 5rem 0 2rem 0;
}
.TextCard_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  gap: .5rem;
}
.NewTrentContainer {
  display: flex;
  align-items: center;
  gap: .5rem;
  position: relative;
}
.UnderLine_Container {
  width: 2rem;
  height: 0.1rem;
  background-color: #b33d49;
}
.NewTrend_Text {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.Feeling_Text{
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}
.Title_Text{
  font-size: 3rem;
  font-weight: 900;
}
.ModelsContainer {
  display: flex;
  justify-content: center;
}
.Model {
  width: 95%;
  height: auto;
  mix-blend-mode: multiply;
}
.Text_Discover{
  color: #2f2f2f;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}
