@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
}

.ProductById{
    display: grid;
    place-content: center;
    place-items: center;
    place-self: center;
    padding: 2rem 1rem;
}
.ProductById_Header{
    display: flex;
}
.ProductById_Title{
    padding-top: 3rem;
    font-size: 2rem;
}

.ProductById-Image_Container{
    display: grid;
    place-content: center;
    margin-top: 3rem;
}
.ProductById_Image{
    width: 10rem;
    mix-blend-mode: multiply;
}

.ProductById_Info{
    padding: 2rem;
}
.ProductById_Description{
    font-weight: 400;
    font-size: 1.2rem;
    color: #2f2f2f;
}
.Btn_Back_2{
    margin-bottom: 1rem;
}
.ProductById_Footer{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}
.ProductById_Price-Text{
    font-size: 2rem;
}

.Btn_Add_To_Cart{
    border: none;
    background: none;
    cursor: pointer;
}